.content {
  padding: 0;
  margin: auto;
  width: 85%;
  color: white;

  h1 {
    text-align: center;
  }

  &__block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 35px 0;
    position: relative;

    &__item {
      margin: 20px 35px;
    }
  }
}
